In [6]:
import pandas as pd

def analyze_csv(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Remove duplicates and keep the last occurrence (to get the latest data)
    df_no_duplicates = df.drop_duplicates(keep='last')

    # Find the country with the highest population
    country_highest_population = df_no_duplicates[df_no_duplicates['2019 [YR2019]'] == df_no_duplicates['2019 [YR2019]'].max()]['Country Name'].values[0]

    # Find the country with the lowest population
    country_lowest_population = df_no_duplicates[df_no_duplicates['2019 [YR2019]'] == df_no_duplicates['2019 [YR2019]'].min()]['Country Name'].values[0]

    # Print the results
    print("Country with the highest population: ", country_highest_population)
    print("Country with the lowest population: ", country_lowest_population)
    #print(df.head(3))

if __name__ == "__main__":
    file_path = "Population.csv"
    analyze_csv(file_path)

Country with the highest population:  Brazil
Country with the lowest population:  British Virgin Islands

In [4]:
def remove_duplicates_and_print(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Remove duplicates and keep the first occurrence
    df_no_duplicates = df.drop_duplicates()

    # Filter data by country name"
    df_virgin_islands = df_no_duplicates[df_no_duplicates['Country Name'] == 'Haiti']

    # Print the resulting DataFrame
    print("Data for Haiti:\n")
    print(df_virgin_islands.to_string(index=False))

if __name__ == "__main__":
    file_path = "Population.csv"
    remove_duplicates_and_print(file_path)

Data for Haiti:

Series Name        Code Country Name Country Code  2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  Unnamed: 14 Unnamed: 15
Population, SP.POP.TOTL        Haiti          HTI        9949322       10100320       10250930       10400673       10549008       10695542       10839970       10982366       11123176       11263077          NaN         NaN

In [3]:
#More with Pandas(selecting, grouping_by and understanding you data_frame)
import pandas as pd
df = pd.read_csv('Population.csv')
#df['2010 [YR2010]'].max()
#df.describe()
#df.iloc[3][2]
#df.info()
groupingby_eg = df.groupby(['Country Code','2011 [YR2011]']).max()
groupingby_eg

,,Series Name,Code,Country Name,2010 [YR2010],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Unnamed: 14,Unnamed: 15
Country Code,2011 [YR2011],,,,,,,,,,,,,,
ABW,102046,"Population,",SP.POP.TOTL,Aruba,101669,102560,103159,103774,104341,104872,105366,105845,106314,NaN,NaN
ARG,41261490,"Population,",SP.POP.TOTL,Argentina,40788453,41733271,42202935,42669500,43131966,43590368,44044811,44494502,44938712,NaN,NaN
ATG,89253,"Population,",SP.POP.TOTL,Antigua and Barbuda,88028,90409,91516,92562,93566,94527,95426,96286,97118,NaN,NaN
BHS,359577,"Population,",SP.POP.TOTL,"Bahamas, The",354942,363584,367168,370633,374206,377931,381761,385640,389482,NaN,
BLZ,330237,"Population,",SP.POP.TOTL,Belize,322464,338000,345715,353366,360933,368400,375769,383071,390353,NaN,NaN
BOL,10212954,"Population,",SP.POP.TOTL,Bolivia,10048590,10377676,10542376,10706517,10869730,11031813,11192854,11353142,11513100,NaN,NaN
BRA,197514534,"Population,",SP.POP.TOTL,Brazil,195713635,199287296,201035903,202763735,204471769,206163058,207833831,209469333,211049527,NaN,NaN
BRB,282987,"Population,",SP.POP.TOTL,Barbados,282131,283700,284296,284825,285324,285796,286233,286641,287025,NaN,NaN
CHL,17233576,"Population,",SP.POP.TOTL,Chile,17062536,17400347,17571507,17758959,17969353,18209068,18470439,18729160,18952038,NaN,NaN
COL,45663099,"Population,",SP.POP.TOTL,Colombia,45222700,46076848,46497267,46969209,47520667,48171392,48901066,49648685,50339443,NaN,NaN
CRI,4633086,"Population,",SP.POP.TOTL,Costa Rica,4577378,4688000,4742107,4795396,4847804,4899345,4949954,4999441,5047561,NaN,NaN
CUB,11236670,"Population,",SP.POP.TOTL,Cuba,11225832,11257101,11282720,11306902,11324781,11335109,11339259,11338138,11333483,NaN,NaN
CUW,150831,"Population,",SP.POP.TOTL,Curacao,148703,152088,153822,155909,157980,159664,160175,159800,157538,NaN,NaN
CYM,57878,"Population,",SP.POP.TOTL,Cayman Islands,56672,58958,59932,60848,61724,62569,63382,64174,64948,NaN,NaN
DMA,70916,"Population,",SP.POP.TOTL,Dominica,70878,70965,71016,71085,71183,71307,71458,71625,71808,NaN,NaN
DOM,9813210,"Population,",SP.POP.TOTL,Dominican Republic,9695121,9930911,10048224,10165178,10281680,10397743,10513131,10627165,10738958,NaN,NaN
ECU,15243883,"Population,",SP.POP.TOTL,Ecuador,15011117,15474102,15707474,15951838,16212020,16491115,16785361,17084357,17373662,NaN,NaN
GRD,106796,"Population,",SP.POP.TOTL,Grenada,106233,107446,108170,108902,109599,110261,110874,111454,112003,NaN,NaN
GTM,14521515,"Population,",SP.POP.TOTL,Guatemala,14259687,14781942,15043981,15306316,15567419,15827690,16087418,16346950,16604026,NaN,NaN
GUY,752028,"Population,",SP.POP.TOTL,Guyana,749436,755399,759285,763380,767432,771366,775221,779004,782766,NaN,NaN
HND,8480671,"Population,",SP.POP.TOTL,Honduras,8317470,8640691,8798521,8955589,9112916,9270795,9429013,9587522,9746117,NaN,NaN
HTI,10100320,"Population,",SP.POP.TOTL,Haiti,9949322,10250930,10400673,10549008,10695542,10839970,10982366,11123176,11263077,NaN,NaN
JAM,2825929,"Population,",SP.POP.TOTL,Jamaica,2810460,2842132,2858709,2875136,2891021,2906238,2920853,2934855,2948279,NaN,NaN
KNA,49447,"Population,",SP.POP.TOTL,St. Kitts and Nevis,49016,49887,50331,50774,51203,51625,52045,52441,52823,NaN,NaN
LCA,175544,"Population,",SP.POP.TOTL,St. Lucia,174085,176646,177513,178296,179126,180024,180955,181889,182790,NaN,NaN
MAF,37446,"Population,",SP.POP.TOTL,St. Martin (French part),37582,37009,36453,36015,35858,36065,36560,37264,38002,NaN,NaN
MEX,115695473,"Population,",SP.POP.TOTL,Mexico,114092963,117274155,118827161,120355128,121858258,123333376,124777324,126190788,127575529,NaN,NaN
NIC,5903039,"Population,",SP.POP.TOTL,Nicaragua,5824065,5982526,6062454,6142733,6223240,6303974,6384855,6465513,6545502,NaN,NaN
PAN,3706483,"Population,",SP.POP.TOTL,Panama,3642687,3770624,3835437,3901315,3968487,4037078,4106771,4176873,4246439,NaN,NaN
PER,29264318,"Population,",SP.POP.TOTL,Peru,29027674,29506788,29773987,30090359,30470734,30926032,31444297,31989256,32510453,NaN,NaN
PRI,3678732,"Population,",SP.POP.TOTL,Puerto Rico,3721525,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694,NaN,NaN
PRY,6333976,"Population,",SP.POP.TOTL,Paraguay,6248020,6421512,6510276,6599526,6688746,6777872,6867062,6956071,7044636,NaN,NaN
SLV,6210568,"Population,",SP.POP.TOTL,El Salvador,6183875,6237923,6266070,6295128,6325124,6356143,6388122,6420744,6453553,NaN,NaN
SUR,535179,"Population,",SP.POP.TOTL,Suriname,529131,541245,547291,553273,559143,564888,570496,575991,581372,NaN,NaN
SXM,33435,"Population,",SP.POP.TOTL,Sint Maarten (Dutch part),34056,34640,36607,37685,38825,39969,40574,40654,40733,NaN,NaN
TCA,33377,"Population,",SP.POP.TOTL,Turks and Caicos Islands,32660,34066,34731,35369,35981,36559,37115,37665,38191,NaN,NaN
TTO,1336178,"Population,",SP.POP.TOTL,Trinidad and Tobago,1328147,1344817,1353700,1362342,1370328,1377564,1384072,1389858,1394973,NaN,NaN
URY,3368934,"Population,",SP.POP.TOTL,Uruguay,3359275,3378974,3389439,3400434,3412009,3424132,3436646,3449299,3461734,NaN,NaN
VCT,108316,"Population,",SP.POP.TOTL,St. Vincent and the Grenadines,108255,108435,108622,108861,109148,109459,109827,110210,110589,NaN,NaN
VEN,28888369,"Population,",SP.POP.TOTL,"Venezuela, RB",28439940,29362449,29783571,30045134,30081829,29846179,29390409,28870195,28515829,NaN,NaN
VGB,28319,"Population,",SP.POP.TOTL,British Virgin Islands,27794,28650,28847,28989,29152,29355,29577,29802,30030,NaN,NaN
VIR,108292,"Population,",SP.POP.TOTL,Virgin Islands (U.S.),108358,108191,108044,107884,107710,107510,107268,106977,106631,NaN,NaN

In [31]:
#boolean_masking with logical operators for better filtering and and(&), or(|),not(~)
df = df
mask = df['2013 [YR2013]'] >20
mask2 = df[(df['2013 [YR2013]'] >100000000) & (df['Country Name'] == 'Brazil')]
mask2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 7 to 7
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    1 non-null      object
 1    Code          1 non-null      object
 2   Country Name   1 non-null      object
 3   Country Code   1 non-null      object
 4   2010 [YR2010]  1 non-null      int64
 5   2011 [YR2011]  1 non-null      int64
 6   2012 [YR2012]  1 non-null      int64
 7   2013 [YR2013]  1 non-null      int64
 8   2014 [YR2014]  1 non-null      int64
 9   2015 [YR2015]  1 non-null      int64
 10  2016 [YR2016]  1 non-null      int64
 11  2017 [YR2017]  1 non-null      int64
 12  2018 [YR2018]  1 non-null      int64
 13  2019 [YR2019]  1 non-null      int64
 14  Unnamed: 14    0 non-null      float64
 15  Unnamed: 15    0 non-null      object
dtypes: float64(1), int64(10), object(5)
memory usage: 136.0+ bytes

# Convertinting csv to json & data tidying
```
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV data
    data = []
    with open(csv_file_path, 'r') as csv_file:
        csv_reader = csv.DictReader(csv_file)
        for row in csv_reader:
            data.append(row)

    # Write JSON data
    with open(json_file_path, 'w') as json_file:
        json.dump(data, json_file, indent=4)

if __name__ == "__main__":
    # Replace 'input.csv' with the path to your CSV file and 'output.json' with the desired JSON file path
    csv_to_json('Population.csv', 'Population.json')